{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

<h1>Confirm</h1>

<p>
    <form action="/confirm" method="post">
        <div class="form-group">
            You are about to
            {% if shares.shares < 0 %}
                sell
            {% elif shares.shares > 0 %}
                buy
            {% endif %}
            &nbsp;
            {{ shares.shares|abs }}
            &nbsp;
            {% if shares.shares|abs == 1 %}
                share
            {% elif shares.shares|abs > 1 %}
                shares
            {% endif %}
            &nbsp;of&nbsp;
            {{ quote.quote.name }}
            (symbol:&nbsp;
            {{ quote.quote.symbol.upper() }}) &nbsp;
            @&nbsp;$&nbsp;
            {{ '%0.2f' % quote.quote.price|float }}
            &nbsp;USD&nbsp;at date&nbsp;
            {{ quote.quote.timestamp }}
        </div>
    <button class="btn btn-primary" type="submit">Confirm</button>
</form>
</p>

<p>
    <a href="/">Back to C$50 Finance Home</a>
</p>

{% endblock %}