{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

<h1>Confirm</h1>

<p>
    <form action="/confirm" method="post">
        <div class="form-group">
            You are about to buy <br>
            {{ shares.shares }}&nbsp;
            shares of&nbsp;
            {{ quote.quote.name }}
            (symbol:&nbsp;
            {{ symbol.symbol.upper() }}) &nbsp;
            @&nbsp;$&nbsp;
            {{ quote.quote.price }}
            &nbsp;USD&nbsp;at date&nbsp;
            {{ quote.quote.timestamp }}
        </div>
    <button class="btn btn-primary" type="submit">Confirm</button>
</form>
</p>

<p>
    <a href="/">Back to C$50 Finance Home</a>
</p>

{% endblock %}