{% extends "layout.html" %}

{% block title %}
    Stock Portfolio
{% endblock %}

{% block main %}
    <p>
        <form action="/quote" method="post">
            <div class="form-group">
                <table>
                	<tr>
                		<th>Symbol</th>
                		<th>Name</th>
                		<th>Shares</th>
                		<th>Price</th>
                		<th>Total</th>
                	</tr>

                	 <!--loop over and print current users stock positions-->

                    {% for row in table %}
                        <tr>
                        {% set rowloop = loop %}
                        {% for item in quote %}
                    	    <td id="cell-{{ rowloop.index }}-{{ loop.index }}">{{ quote[item].symbol }} </td>
                    	    <td id="cell-{{ rowloop.index }}-{{ loop.index }}">{{ quote[item].name }} </td>
                    	    <td id="cell-{{ rowloop.index }}-{{ loop.index }}">{{ quote[item].price }} </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>


                <p>

                {% for item in quote %}
                    {{ quote[item].symbol }}&nbsp;&nbsp;
                    {{ quote[item].name }}&nbsp;&nbsp;
                    {{ quote[item].price }}&nbsp;&nbsp;
                {% endfor %}
                </p>
            </div>
        </form>
    </p>
{% endblock %}
