{% extends "layout.html" %}

{% block title %}
    Stock Portfolio
{% endblock %}

{% block main %}

    <p>
        <div class="form-control">
            <table class="table table-striped">
                <thead>
                    <tr><h1>My Portfolio</h1></tr>
                	<tr>
                		<th>Symbol</th>
                		<th>Name</th>
                		<th class="rt">Shares</th>
                		<th class="rt">Price</th>
                		<th class="rt">Total</th>
                		<th></th>
                	</tr>
            	</thead>
                <tbody>
            	    <!--loop over and print current users stock positions-->
                    {% for k,v in portfolio.items() %}
                        <tr>
                    	    <td id="symbol">{{ v[0] }}</td>
                    	    <td>{{ v[1] }}</td>
                    	    <td class="rt">{{ v[2] }}</td>
                    	    <td class="rt">{{ '%0.2f' % v[3]|float }}</td>
                            <td class="rt">{{ '%0.2f' % v[4]|float }}</td>
                            <td>
                                <a href="sell?symbol={{ v[0] }}">
                                    <button class="btn btn-primary btn-sm" type="button">Sell</button>
                                </a>
                            </td>

                	    </tr>
                    {% endfor %}

                    <tr>
                        <td>Cash</td><td></td><td></td><td></td><td class="rt">{{ '%0.2f' % cash|float }}</td>
                    </tr>
                    <tr>
                        <td>Total</td><td></td><td></td><td></td><td class="rt">{{ '%0.2f' % sumTotal|float }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </p>

{% endblock %}
