{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

    <form action="/sell" method="POST">
        <span>Please select a stock you own from the drop down list<br>and enter the number of shares you wish to sell.</span><br><br>
        <div class="form-group">
            <select name="symbol">
                {% for item in portfolio %}
                    {% if item == request.args.get('symbol') %}
                        <option value='{{ item }}' selected>{{ item }}</option>
                    {% else %}
                        <option value='{{ item }}'>{{ item }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <input autofocus autocomplete="off" class="form-control" name="shares" placeholder="number of shares" type="number" min="1"/>

        <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>
{% endblock %}