{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

    <form action="/sell" method="POST">
        <span>Please select a stock you own from the drop down list<br>and enter the number of shares you wish to sell.</span><br><br>
        <div class="form-group">
            <select name="symbol" autofocus>
                {% for item in portfolio %}
                {% if item["symbol"] == request.args.get('symbol') %}
                    <option value='{{ item["symbol"] }}' selected>{{ item["symbol"] }}</option>
                    {% else %}
                    <option value='{{ item["symbol"] }}'>{{ item["symbol"] }}</option>
                {% endif %}
                {% endfor %}
            </select>

            <input autocomplete="off" class="form-control" name="shares" placeholder="number of shares" type="number" min="1"/>

        <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>
{% endblock %}